<html>
<body>
<form method="get">
	<p><a href="http://en.wikipedia.org/wiki/Lyapunov_fractal">Lyapunov fractal</a></p>
	<label for="w">Width:</label>
	<input type="text" id="w" name="w" value="256">
	<label for="h">Height:</label>
	<input type="text" id="h" name="h" value="256">
	<label for="s">Sequence (in the form of A's and B's):</label>
	<input type="text" id="s" name="s" value="AB">
	<label for="n">Iterations:</label>
	<input type="text" id="n" name="n" value="20">
	<button id="submit" class="btn btn-primary" type="submit">Draw</button>
