<html>
<body>
<form class="well form-horizontal">
	<label for="w">Width:</label>
	<input class="span1" type="text" id="w" name="w" value="256">
	<label for="h">Height:</label>
	<input class="span1" type="text" id="h" name="h" value="256">
	<label for="x">X Offset:</label>
	<input class="span1" type="text" id="x" name="x" value="0">
	<label for="y">Y Offset:</label>
	<input class="span1" type="text" id="y" name="y" value="0">
	<label for="i">Max Iterations:</label>
	<input class="span1" type="number" min="0" max="1000" step="5" id="i" name="i" value="255">
	<label for="z">Zoom:</label>
	<input class="span1" type="number" min="1" step="1" id="z" name="z" value="1">
	<button id="submit" class="btn btn-primary" type="submit">Draw</button>
</form>
